<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>$title</title>
  <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body>

<h1>$title - Reference Documentation</h1>

<p>This documentation was generated running
<a href="http://antdoclet.neuroning.com">AntDoclet</a> over the source code
of the $title project.</p>
</body>

</html> 

